@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #002a48;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdfdfd;
    --foreground: #002a48;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.monito-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-image: url("/home_banner_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.monito_footer {
  min-width: 100%;
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.title-price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.swiper-pagination-bullet-active {
  width: 22.5px !important;
  border-radius: 7.5px !important;
  background: #002a48 !important;
}

.swiper-pagination{
  margin-top: 1rem !important;
}

.thumbnail-swiper-img-container{
  width: 67px !important;
}

.d-none{
  display: none;
}

@media (max-width: 768px) {
  .monito-header {
    background-image: url("/home_banner_mobile_bg.png");
  }

  .thumbnail-swiper{
    padding-left: 1rem !important;
  }
}
